body{
    background-image: url('public/background.png');
    background-size: cover;
    background-attachment: fixed;
    /* color: dimgray; */
    /* font-family: serif; */
    text-align: center;
     font-family: "Century", sans-serif;
}
#turn-indicator{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#greenball{
    position: fixed;
    top: 0%;
    left: -2%;
    opacity: 0.8;
}

#lightblueball{
    position: fixed;
    top: 32%;
    left: 5%;
    height: 1px;
    opacity: 0.8;
}

#blueball{
    position: fixed;
    top: 14%;
    right: 21%;
}

#redball{
    position: fixed;
    top: 28%;
    right: -2%;
}

#smallpikachu{
    position: fixed;
    top: 46%;
    left: 8%;
    opacity: 0.8;
}
#purplepoke{
    position: fixed;
    top: 37%;
    right: 26%;
    opacity: 0.8;
}
#pokeball{
    width: 10%;
}
#dr{
    width: 23%;
}
#dragon{
    position: fixed;
    right: -25%;
    bottom: -4%;
    z-index: 5;
    opacity: 0.8;
}
#poke{
    position: fixed;
    right: -25%;
    bottom: 46%;
    z-index: 5;
    opacity: 0.8;
}

#pik{
    width: 18%;
}
#pikachu{
    position: fixed;
    left: -30%;
    bottom: 1%;
    z-index: 5;
    opacity: 0.8;
}

#leaderboard {
  
  text-align: center;
}
#leaderboard table {
  margin: 20px auto;
  border-collapse: collapse;
}
#leaderboard th, #leaderboard td {
  border: 1px solid #030303;
  padding: 6px 12px;
}
#leaderboard th {
  background-color: #636363;
}


#logo {
    width: 100% ;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.etic {
    width: 120px;
}
#x {
    width: 45px;
    
}
#container{
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 10;
}


.box{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

#titre{
    font-family: "Tokyo", sans-serif;
   font-size: 3em;
   font-weight: 200;

}
span{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}

.top{
    border-top: none;
}

.bottom{
    border-bottom: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.alert{
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: relative;
    z-index: 10;
    margin-top: -50%;
    border-radius: 20px;
    box-shadow: 0 0 75px 2px dimgray;
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    padding: 30px;
    bottom: 50px;
    top: 0;
}

button{
    background: dimgray;
    border-radius: 2px;
    color: ghostwhite;
    border: none;
    outline: none;
}

button:focus{
    background: silver;
}

.activeBox{
    background: silver;
}

@keyframes larger{
    from{
        height: 75px;
        width: 125px;
    }

    to{
        height: 100px;
        width: 250px;
    }

}
@font-face {
  font-family: 'Tokyo';
  src: url('fonts/Tokyo.ttf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
}
@font-face {
  font-family: 'Century';
  src: url('fonts/Century.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}