body{
    background: #444444;
    /* color: dimgray; */
    /* font-family: serif; */
    text-align: center;
     font-family: "Century", sans-serif;
}
#turn-indicator{
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}
#pokeball{
    width: 190px;
}
#dr{
    width: 450px;
}
#dragon{
    position: fixed;
    right: 30px;
    bottom: -40px;
    z-index: 5;
    opacity: 0.8;
}
#poke{
    position: fixed;
    right: 80px;
    bottom: 500px;
    z-index: 5;
    opacity: 0.8;
}

#pik{
    width: 350px;
}
#pikachu{
    position: fixed;
    left: 80px;
    bottom: 10px;
    z-index: 5;
    opacity: 0.8;
}
#logo {
    width: 100% ;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.etic {
    width: 120px;
}
#x {
    width: 45px;
    
}
#container{
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
}

.box{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

#titre{
    font-family: "Tokyo", sans-serif;
   font-size: 3em;
   font-weight: 200;

}
span{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}

.top{
    border-top: none;
}

.bottom{
    border-bottom: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.alert{
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: relative;
    z-index: 10;
    margin-top: -50%;
    border-radius: 20px;
    box-shadow: 0 0 75px 2px dimgray;
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    padding: 30px;
    bottom: 50px;
    top: 0;
}

button{
    background: dimgray;
    border-radius: 2px;
    color: ghostwhite;
    border: none;
    outline: none;
}

button:focus{
    background: silver;
}

.activeBox{
    background: silver;
}

@keyframes larger{
    from{
        height: 75px;
        width: 125px;
    }

    to{
        height: 100px;
        width: 250px;
    }

}
@font-face {
  font-family: 'Tokyo';
  src: url('fonts/Tokyo.ttf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
}
@font-face {
  font-family: 'Century';
  src: url('fonts/Century.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}